<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="header.css" />
    <script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <div id="header">
        <div id="logo">
            <img src="/img/svg/Logo.svg" id="imgLogo" />
        </div>
        <div id="logoText">
            <label>Thế giới thú cưng</label>
        </div>
        <div id="searchBar">
            <div id="searchInput">
                <button id="submitBtn" form="SearchForm"></button>
                <form method="GET" id="SearchForm">
                    <input name="keyword" id="searchText" placeholder="banh chạy, lồng mica, dây xích chó,..." />
                </form>
            </div>
        </div>
        <div id="navBar">
            <div class="row">
                <div class="col-sm-1">
                </div>
                <div class="col-sm-1">
                </div>
            </div>
        </div>
    </div>
</body>

</html>