body
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}

.Dropdown
{
text-align: center;
width: 200px;
}

.BtnNav
{
    background-color: green;
    border: 0;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    height: 35px;
}

.BtnNav:focus{
    outline: none;
}

.Dropdown:hover i
{
    animation: ToRight;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.Dropdown:hover label
{
    animation: ToLeft;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);

}

.BtnNav label
{
    position: relative;
    font-weight: bold; 
    cursor: pointer;
    font-size: 25px;
    margin: 0 15px 0 5px;
    line-height: 25px;
}

.BtnNav i
{
    position: relative;
    top: 0px;
    font-size: 25px;
    margin: 0 0 0 15px;
}

/*Dropdown menu*/
.Dropdown .Dropdown-content
{
    display: none;
}

.Dropdown .Dropdown-content:hover
{
    display: block;
}

.Dropdown:hover .Dropdown-content
{
    display: block;
    animation: Flip;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.Dropdown .Dropdown-content a
{
    display: block;
    width: 200px;
    text-decoration: unset;
    color: grey;
    font-size: 20px;
}

.Dropdown .Dropdown-content a:hover
{
    font-size: 30px;
    color: black;
}

/*Animation frames*/
@keyframes ToRight
{
from
{
left: 0;
}
to
{
left: 70%;
}
}

@keyframes ToLeft {
    from
    {
right: 0;
    }
    to
    {
right: 20%;
    }
}

@keyframes Flip {
    from
    {
        transform: rotateY(-90deg);
    }
    to{
        transform: rotateY(0deg);
    }
}