<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="linkbar.css" />
    <script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <div id="stickyBar">
        <span id="linkGroup">
            <a href="#">Giới thiệu</a>
            |
            <a href="#">Bài viết</a>
            |
            <a href="#">Liên hệ</a>
        </span>
        <span id="profileBar">
            <label>Chào bạn abc!</label>
            <img src="https://cloud.netlifyusercontent.com/assets/344dbf88-fdf9-42bb-adb4-46f01eedd629/68dd54ca-60cf-4ef7-898b-26d7cbe48ec7/10-dithering-opt.jpg"/>
            <label id="drawerBtn">&#9776;</label>
        </span>
    </div>
</body>

</html>